@import "tailwindcss";

:root {
  --bg: #090D18;
  --card: #0d1828;
  --border: #070d1a;
  --accent: #4f9cf9;
  --accent2: #6fc3f7;
  --authntication: #60A5FA;
  --text: #e8edf5;
  --muted: #6b7a99;
}

@theme {
  --font-syne: var(--font-syne);
  --font-dm: var(--font-dm);
  --font-instrument: var(--font-instrument);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-dm), sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
